body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;

}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50px;
}

h1 {
    font-size: 3em;
    color: #03375c;
}

.controls {
    width: 50vb;
    height: 50px;
    background-color: #ffffff;
    padding: 15px 15px 15px 10px;
    border: #03375c solid 3px;
    border-radius: 20px;
    display: flex;
    gap: 15px;
   
}

input {
    
    background: #03375c;
    overflow: hidden;
    width: 350px;

}

input[type="text"] {
    background: transparent;
    border: none;
    padding: 0px 20px;
    color: #03375c;
    font-size: 16px;
    outline: none;
    font-weight: 600;
}


a {
    background: #03375c;
    color: white;
    border: none;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 5px;
    align-items: center;
    text-decoration: none;
    align-content: center;
}

a:hover {
    background: #253e74;
    scale: 1.02;
}

button:hover {
    background: #253e74;
    scale: 1.02;
}

.download {
    background: #03375c;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 5px;
}


#qr {
    width: 300px;
    height: 300px;

    border: #03375c solid 3px;
    display: flex;
    justify-content: center;
    margin: 20px;
    /* align-content: center;
    justify-items: center; */
}

#qr img {
    align-self: center;
    width: 280px;
    height: 280px;
    margin: 5px;


}

@media screen and (max-width: 799px) {
    .controls {
        width: 80%;
        height: 80px;

        padding: 15px 5px 15px 10px;


        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    a {
        background: #03375c;

        color: white;
        border: none;
        padding: 20px;
        border-radius: 15px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-right: 5px;
        text-decoration: none;
        text-align: center;

    }
}